---
layout: primary
title: Awareness
permalink: /awareness
---

{%  include components/primary_slider.html
    slide1 = "/assets/img/slide_house.jpg"
    slide2 = "/assets/img/slide_keys.jpg"
    slide3 = "/assets/img/slide_soldier.jpg"
%}

<section class="content_wrapper">
    {%  include components/info_section.html
        title = "Mission + Goals"
        text = "<p>Adams & Associates is an Affirmative Fair Housing contractor.  We strive for community engagement and awareness with the aim of promoting and encouraging fair housing opportunities throughout Baltimore County and broadening meaningful community participation around the process.</p><p>Our goal is to develop a positive relationship with the housing professionals and broaden awareness, while providing Fair Housing to all that qualify.  We will strongly encourage housing professionals to participate in local meetings and one-on-one sessions with our firm to discuss Fair Housing Compliance.</p>"
    %}

    {%  include components/info_section.html
        title = "Workshops"
        text = "<p>Our outreach efforts will target Baltimore County Residents and housing professionals with limited access to information pertaining to Fair Housing laws with limited English, disabilities and those in diverse ethnic and racial backgrounds.</p><p>Fair Housing Training will be aimed at specific goals of improving housing professionals’ capability, capacity and performance in providing fair housing to all that qualify regardless of their race, income, gender and disability.  Training is implemented to teach and develop housing professionals skills and knowledge that relate to specific useful competencies in the areas of Fair Housing laws and compliances specifically pursuant to HUD standards to further fair housing.</p><p>There are no fees associated with these workshops they are completely free to residents and housing professionals. Our workshops are inclusive of guest Speakers, light refreshments, and prizes.</p>"
    %}

    {% for item in site.data.workshops %}
    <div class="workshop_single">
        <div class="workshop_date">{{ item.date }}</div>
        <div class="workshop_wrapper">
            <div class="workshop_image"></div>
            <div class="workshop_info">
                <div class="workshop_title">
                    {{ item.title }}
                </div>
                <div class="workshop_text">
                    <div class="workshop_icon_holder"><img src="/assets/img/icon_clock.png"  class="workshop_icon" /></div> <div class="workshop_text_here">
                        {{ item.time }}
                    </div>
                </div>
                <div class="workshop_text">
                    <div class="workshop_icon_holder"><img src="/assets/img/icon_map_marker.png"  class="workshop_icon" /></div> <div class="workshop_text_here">{{ item.location }}</div>
                </div>
                <div class="workshop_text">
                    <div class="workshop_icon_holder"><img src="/assets/img/icon_note.png"  class="workshop_icon" /></div> <div class="workshop_text_here">{{ item.text }}</div>
                </div>
                <a href="mailto:baltocntyAFHC@adamsconsults.com?subject=Email%20Subject"><div class="workshop_btn">
                    sign up
                </div></a>
            </div>
        </div>
    </div>
    {% endfor %}
</section>

{% include components/fairhousing_callout.html %}

<section class="content_wrapper">
    <div class="info_section">
        <div class="info_title">Resources</div>
        <div class="info_text">
            Below you will find a list of resources that help with knowing your rights.
        </div>
        <ul class="resource_list">
            <div class="frow justify-between">
                {% for thing in site.data.resources %}
                <li class="potato"><a href="{{ thing.url }}" target="_blank">{{ thing.resource }}</a></li>
                {% endfor %}
            </div>
        </ul>
    </div>
</section>
