// Fonts
$font-alpha: 'PT Serif', serif;
$font-beta: 'Libre Franklin', sans-serif;

$bold: 700;
$medium: 500;

// Colors
$black: #000;
$brown: #AF8E1B;
$darkbrown: #574519;
$white: #FFFFFF;

// Line Height
$line-height: 1.5;
