<header class="site_header clearfix">

    <div class="frow justify-between">
        <div class="logo">
            <a href="/"><img src="/assets/img/fairhousing_logo.jpg"  class="logo_size" /></a>
        </div>

        <div class="menu" id="top">
            <div id="menu-container" class="menu-btn"><button id="js_mobile_menu" type="button" class="menuButton"><img src="/assets/img/icon_menu.png" width="36" /></button></div>

            <div class="menu_title">MENU</div>

            <div class="menu_list">
                <ul>
                    <li class="menu_header"><a href="/">Fair Housing&nbsp;&nbsp;<img src="/assets/img/menu_caret.png" width="15" /></a>
                        <!-- <ul class="sub_menu">
                            <li>What is Fair Housing</li>
                            <li>Resident Rights</li>
                            <li>Discrimination</li>
                        </ul> -->
                    </li>
                    <li class="menu_header"><a href="/awareness/">Awareness&nbsp;&nbsp;<img src="/assets/img/menu_caret.png" width="15" /></a>
                        <!-- <ul class="sub_menu">
                            <li>Mission + Goals</li>
                            <li>Workshops</li>
                            <li>Resources</li>
                        </ul> -->
                    </li>
                </ul>
            </div>

        </div>
    </div>

</header> <!-- Header -->
