<section class="call_out">
    <div class="content_wrapper">
        <div class="call_out_title">Fair Housing protects you</div>
        <div class="frow justify-between call_out_wrapper">
            <div class="call_out_secondary_icon"><img src="/assets/img/icon_wheelchair.png" width="35" /></div>
            <div class="call_out_text option">
                <p>
                    The federal Fair Housing Act prohibits discrimination in housing for the following “protected classes”:
                </p>
                <p>
                    Race, Religion, Gender, Color, National Origin, Disability, Familial Status
                </p>
            </div>
            <div class="call_out_secondary_icon"><img src="/assets/img/icon_male_female.png" width="35" /></div>
        </div>
    </div>
</section>
