<ul class="footer_social">
    <li><a href="{{ include.youtube }}" target="_blank"><i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="{{ include.twitter }}" target="_blank"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="{{ include.instagram }}" target="_blank"><i class="fa fa-instagram fa-lg" aria-hidden="true"></i></a></li>
    <li><a href="{{ include.facebook }}" target="_blank"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
</ul>
