<div class="primary_slider">
    <div class="slide_item" style="background-image: url('{{ include.slide1 }}');"></div>
    <div class="slide_item" style="background-image: url('{{ include.slide2 }}');"></div>
    <div class="slide_item" style="background-image: url('{{ include.slide3 }}');"></div>
</div>

<div class="primary_slide_info">
    <div class="icon">
        <img src="/assets/img/icon_house.png" class="icon_house" />
    </div>
    <div class="primary_slide_title">
        Attend fair housing workshops for baltimore county
    </div>
    <div class="primary_slide_smallbox">
        <div class="primary_slide_subtitle">
            View upcoming workshops
        </div>
        <div class="primary_slide_subtitle_icon">
            <a href="/awareness"><img src="/assets/img/icon_arrow.png" width="25" /></a>
        </div>
    </div>
</div>
